{% extends "basic.html" %}
{% block body %}
{% load static %}
</div>
            </div>
        </div>
    </header>
    <!--========= header area end ========== -->
    <!-- ==========hero area start ========== -->
    <section class="hero-area">
        <div class="slider owl-carousel">
            <div class="slider-items">
                <div class="slider-img">
                    <img src="assets/img/garments/1.jpg" alt="">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="slider-content">
                                <h2>Mutual Apperals is equipped with 300 Production Lines</h2>
                                <p>Approximately 5,000 strong work force are putting their combined effort in achieving their target production.</p>
                                <div class="slider-btn">
                                    <a class="theme-btn btn-left" href="contact.html">Contact Us</a>
                                    <a class="theme-btn bg-none btn-right" href="about.html">About US</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-items">
                <div class="slider-img">
                    <img src="assets/img/garments/laundry.jpg" alt="">
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10">
                            <div class="slider-content">
                                <h2>Our Washing facility is one of the biggest in Bangladesh</h2>
                                <p>A premium facility with state of the art laundry equipped with the latest Italian machines. We have washing capacity of 300,000 pcs/day with all types of dye, over dyeing garments and complicated fashion washes.</p>
                                <div class="slider-btn">
                                    <a class="theme-btn btn-left" href="contact.html">Contact Us</a>
                                    <a class="theme-btn bg-none btn-right" href="about.html">About US</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============= hero area end =========== -->
    <!-- ============= About Us Area Start =========== -->
    <section class="about-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 wow fadeInLeft">
                    <div class="video-area">
                        <img src={%static "assets/img/garments/10.jpg"%} alt="Video">
                        <a data-fancybox href="https://www.youtube.com/watch?v=q2CniBogq0M">
                            <div class="vi">
                                <div class="example-1"><i class="fas fa-play"></i></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-7 wow fadeInRight">
                    <div class="about-heading">
                        <h2 class="wow fadeInDown">About Us</h2>
                        <h4 class="wow fadeInUp">The History Of Mutual Apparels</h4>
                        <p>An industrialist, entrepreneur and social worker, Mr. X was born in the village Madhyadanga under Fultala upazila of Khulna in 19XX. His mother’s name is Matina Begum. His father Sheikh Mofijuddin was an ordinary local trader and led a very humble life. Mr. X was the only child of his parents as his father was also the only son of his grandparents.</p>
                        <a href="" class="theme-btn  wow fadeInUp">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ============= About Us Area End =========== -->
    <!-- ============= Our Industries Area Start =========== -->
    <section class="service-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2 class="wow fadeInDown">Our Industries</h2>
                        <p class="wow fadeInUp">Dummy Text </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="service-active owl-carousel">
<!--                        loop ekhane-->
                        <div class="service-items">
                            <div class="zoom">
                                <img src="assets/img/garments/woven.jpg" alt="service">
                            </div>
                            <div class="service-item">
                                <div class="service-item-content">
                                    <h4>Woven</h4>
                                    <p>This refers to garments sewn from fabrics that are woven of warp and weft yarns, rather than being made of fabrics that are sewn of knit fabrics, or garments that are not sewn, but are knitted from yarn.</p>
                                </div>
                            </div>
                        </div>
<!--                        ENDLOOP-->
                        <div class="service-items">
                            <div class="zoom">
                                <img src="assets/img/garments/sweater.jpg" alt="service">
                            </div>
                            <div class="service-item">
                                <div class="service-item-content">
                                    <h4>Sweater</h4>
                                    <p>Sweaters are worn by adults and children of all genders, often over a shirt, blouse, T-shirt, or other top, but sometimes next to the skin. Sweaters were traditionally made from wool but can now be made of cotton</p>
                                </div>
                            </div>
                        </div>
                        <div class="service-items">
                            <div class="zoom">
                                <img src="assets/img/garments/laundry.jpg" alt="service">
                            </div>
                            <div class="service-item">
                                <div class="service-item-content">
                                    <h4>Laundry</h4>
                                    <p>Garment washing is a technology which is applied to change or modify the outlook, appearance, comfortability, and design of garments. Garment washing is applied on solid dyed garments or solid printed fabric.</p>
                                </div>
                            </div>
                        </div>
                        <div class="service-items">
                            <div class="zoom">
                                <img src="assets/img/garments/denim.jpg" alt="service">
                            </div>
                            <div class="service-item">
                                <div class="service-item-content">
                                    <h4>Denim Mill</h4>
                                    <p>Denim is a material made from 100% cotton. This is a cotton thread that is used to make a particular weave. It has warped threads in which a weft thread is placed under. This forms the traditional diagonal</p>
                                </div>
                            </div>
                        </div>
                        <div class="service-items">
                            <div class="zoom">
                                <img src="assets/img/garments/accesories.jpg" alt="service">
                            </div>
                            <div class="service-item">
                                <div class="service-item-content">
                                    <h4>Accesories Unit</h4>
                                    <p>The materials or components except the main fabric used in the garments are called garment accessories. Besides the main fabric, various additional things are used for making the garments factory.</p>
                                </div>
                            </div>
                        </div>
                        <div class="service-items">
                            <div class="zoom">
                                <img src="assets/img/garments/design.jpg" alt="service">
                            </div>
                            <div class="service-item">
                                <div class="service-item-content">
                                    <h4>Design & Sample</h4>
                                    <p>Fit samples are samples produced by a manufacturer so that the company purchasing the product can review the garments to make certain they fit properly to the human body. In other words, the primary function of a </p>
                                </div>
                            </div>
                        </div>
                        <div class="service-items">
                            <div class="zoom">
                                <img src="assets/img/garments/Ancillary.jpg" alt="service">
                            </div>
                            <div class="service-item">
                                <div class="service-item-content">
                                    <h4>Ancillary</h4>
                                    <p>Ajay industries has in house capabilities and ancillary units producing metal(cnc, lathe etc ) and glass(boro silicate) items constantly. Over the years we have also diversified in merchandising and promotional items.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============= Our Industries Area End =========== -->
    <!-- ============= Subscribe Area Start =========== -->
    <section class="subscribe-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2 class="wow fadeInDown">Subscribe</h2>
                        <p class="wow fadeInUp">Enter Your Email to Subcribe Us.</p>
                    </div>
                </div>
                <div class="col-lg-8 offset-lg-2 wow bounceIn">
                    <form action="">
                        <div class="subscribe-input">
                            <input type="email" placeholder="Enter Your Email Here">
                            <button class="sub theme-btn">Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- ============= Subscribe Area End =========== -->

    <!-- portfolio area start -->
    <section class="portfolio-area section-padding">
        <div class="container" id="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3 text-center">
                    <div class="section-heading">
                        <h2 class="wow fadeInDown">Our Products</h2>
                        <p class="wow fadeInUp"> You can find lists of ingredients we have included in each of our products.</p>
                    </div>
                </div>
            </div>
            <div class="row wow fadeInDown">
                <div class="col-md-4 col-lg-3 col-6 wow fadeInLeft">
                    <div class="productcategory">
                        <img src="assets/img/products/jeans.jpeg" alt="">
                        <a href="product.html#jeans">
                            <figcaption>
                                <div class="categoryText">
                                    <span>Jeans</span>
                                    <p>Jeans are a type of pants or trousers, typically made from denim</p>
                                </div>
                            </figcaption>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-6 wow fadeInRight">
                    <div class="productcategory">
                        <img src="assets/img/products/jacket.jpg" alt="">
                        <a href="product.html#jacket">
                            <figcaption>
                                <div class="categoryText">
                                    <span>Jacket</span>
                                    <p>A jacket is a mid-stomach–length garment for the upper body.</p>
                                </div>
                            </figcaption>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-6 wow fadeInLeft">
                    <div class="productcategory">
                        <img src="assets/img/products/polo.jpg" alt="">
                        <a href="product.html#polo">
                            <figcaption>
                                <div class="categoryText">
                                    <span>Polo T-Shirt</span>
                                    <p>A polo shirt is a form of shirt with a collar, a placket neckline with three buttons, and an optional pocket.</p>
                                </div>
                            </figcaption>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-6 wow fadeInRight">
                    <div class="productcategory">
                        <img src="assets/img/products/shirt.jpg" alt="">
                        <a href="product.html#shirt">
                            <figcaption>
                                <div class="categoryText">
                                    <span>Shirt</span>
                                    <p>A shirt is a cloth garment for the upper body Originally an undergarment worn exclusively by men</p>
                                </div>
                            </figcaption>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-6 wow fadeInLeft">
                    <div class="productcategory">
                        <img src="assets/img/products/t-shirt.jpg" alt="">
                        <a href="product.html#tshirt">
                            <figcaption>
                                <div class="categoryText">
                                    <span>T-Shirt</span>
                                    <p>A T-shirt is a style of fabric shirt named after the T shape of its body and sleeves.</p>
                                </div>
                            </figcaption>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-6 wow fadeInLeft">
                    <div class="productcategory">
                        <img src="assets/img/products/pant.webp" alt="">
                        <a href="product.html#pant">
                            <figcaption>
                                <div class="categoryText">
                                    <span>Pants</span>
                                    <p>Trousers or pants are an item of clothing that might have originated in Central Asia, worn from the waist to the ankles, covering both legs separately.</p>
                                </div>
                            </figcaption>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-6 wow fadeInLeft">
                    <div class="productcategory">
                        <img src="assets/img/products/undergarments.jpg" alt="">
                        <a href="product.html#undergarments">
                            <figcaption>
                                <div class="categoryText">
                                    <span>Under Garments</span>
                                    <p>Undergarments are items of clothing worn beneath outer clothes, usually in direct contact with the skin, although they may comprise more than a single layer.</p>
                                </div>
                            </figcaption>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-3 col-6 wow fadeInLeft">
                    <div class="productcategory">
                        <img src="assets/img/products/sweater.jpg" alt="">
                        <a href="product.html#sweater">
                            <figcaption>
                                <div class="categoryText">
                                    <span>Sweater</span>
                                    <p>A sweater is a piece of clothing worn on the upper body to keep the person warm. Sweaters are usually knitted or crocheted.</p>
                                </div>
                            </figcaption>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project area end -->

    <!-- ============= Happy Clients Area Start =========== -->
    <section class="clients-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading wow fadeInDown">
                        <h2>Happy Clients Say</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="clients-active owl-carousel">
                        <div class="client-item  wow fadeInUp">
                            <div class="zoom">
                                <img src="assets/img/logo/crony.jpg" alt="client">
                            </div>
                            <div class="client-content">
                                <p>Very enjoyable dress shopping. Mutual apparels has a great eye for women's size and style of dresses. Would recommend. Thank you very much!</p>
                                <h4>Crony Limited</h4>
                                <h5>Business Partner</h5>
                            </div>
                        </div>
                        <div class="client-item  wow fadeInUp">
                            <div class="zoom">
                                <img src="assets/img/logo/crony.jpg" alt="client">
                            </div>
                            <div class="client-content">
                                <p>Very enjoyable dress shopping. Mutual apparels has a great eye for women's size and style of dresses. Would recommend. Thank you very much!</p>
                                <h4>Crony Limited</h4>
                                <h5>Business Partner</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ============= SHappy Clients Area End =========== -->
    <!-- ============= Team Area Start =========== -->
    <section class="team-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="section-heading team-heading">
                        <h2 class=" wow fadeInDown">Board of Corporate Directors</h2>
                        <p class=" wow fadeInUp">A board of directors (B of D) is an elected group of individuals that represent shareholders. The board is a governing body that typically meets at regular intervals to set policies for corporate management and oversight. Every public company must have a board of directors. Some private and nonprofit organizations also have a board of directors.</p>
                        <a class="theme-btn mt-30  wow fadeInRight" href="">Read more</a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6 wow fadeInRight">
                            <div class="single-team">
                                <div class="img-hidden">
                                    <img src="assets/img/team/team-1.jpg" alt="team">
                                </div>
                                <div class="team-content">
                                    <h3>Name of Chairman</h3>
                                    <p>Chairman</p>
                                    <div class="team-social">
                                        <ul>
                                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href=""><i class="fas fa-globe"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 wow fadeInLeft">
                            <div class="single-team">
                                <div class="img-hidden">
                                    <img src="assets/img/team/team-2.jpg" alt="team">
                                </div>
                                <div class="team-content">
                                    <h3>Name of Corporate Director</h3>
                                    <p>Corporate Director</p>
                                    <div class="team-social">
                                        <ul>
                                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href=""><i class="fas fa-globe"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6  wow fadeInRight">
                            <div class="single-team">
                                <div class="img-hidden">
                                    <img src="assets/img/team/team-3.jpg" alt="team">
                                </div>
                                <div class="team-content">
                                    <h3>Name of Managing Director</h3>
                                    <p>Managing Director</p>
                                    <div class="team-social">
                                        <ul>
                                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href=""><i class="fas fa-globe"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="single-team  wow fadeInLeft">
                                <div class="img-hidden">
                                    <img src="assets/img/team/team-4.jpg" alt="team">
                                </div>
                                <div class="team-content">
                                    <h3>Name of Managing Director</h3>
                                    <p>Managing Director</p>
                                    <div class="team-social">
                                        <ul>
                                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                                            <li><a href=""><i class="fas fa-globe"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% block title %} this is tset {% endblock %}



{% endblock body %}

<!--{% block footer %}SDNJ jns {% endblock %}-->