{% extends "basic.html" %}
{% block body %}
{% load static %}
    <!--========= header area end ========== -->
    <!-- ==========Page area start ========== -->
    <div class="page-area woven">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="page-content">
                        <h2 class="wow fadeInDown">Woven</h2>
                        <ul class="wow fadeInUp">
                            <li><a href="index.html">Home - </a></li>
                            <li class="active"><a href="woven.html">Woven</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============= Page area end =========== -->
    <!-- ============= About Us Area Start =========== -->
    <section class="about-area section-padding normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 wow fadeInRight">
                    <div class="about-heading">
                        <h4 class="wow fadeInUp">Woven</h4>
                    </div>
                    <div class="page-area-content">
                        <p>
                            Woven fabric is any textile formed by weaving. Woven fabrics are often created on a loom, and made of many threads woven on a warp and a weft. Technically, a woven fabric is any fabric made by interlacing two or more threads at right angles to one another. <br>
                            Woven fabric only stretches diagonally on the bias directions (between the warp and weft directions), unless the threads used are elastic. Woven fabric cloth usually frays at the edges, unless techniques are used to counter it, such as the use of pinking shears or hemming. <br>

                           Fabrics that are woven do not stretch as easily as knitted fabrics, which can make them advantageous for many uses.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ============= About Us Area End =========== -->

{% endblock body %}

</html>
